.chroma:is(.dark *) {
	--tw-bg-opacity: 1;
	background-color: rgba(var(--color-neutral-900),var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(var(--color-neutral-200),var(--tw-text-opacity));
}


.chroma {
	font-family: 'Roboto', monospace;
}


html {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}